<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Practica2</title>
    <!-- GLOBAL MAINLY STYLES-->
    <link href="vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="vendors/line-awesome/css/line-awesome.min.css" rel="stylesheet" />
    <link href="vendors/themify-icons/css/themify-icons.css" rel="stylesheet" />
    <link href="vendors/animate.css/animate.min.css" rel="stylesheet" />
    <!-- PLUGINS STYLES-->
    <!-- THEME STYLES-->
    <link href="css/main.min.css" rel="stylesheet" />
    <!-- PAGE LEVEL STYLES-->
</head>

<body>
    <div class="page-wrapper">
        <!-- START HEADER-->
        <header class="header">
            <a href="/logout">Log Out</a>}
        </header>
        <!-- END HEADER-->
        
        <div class="content-wrapper">
            <!-- START PAGE CONTENT-->
            <div class="page-content fade-in-up">

                <div class="page-content fade-in-up">
                    <div class="flexbox-b mb-5">
                        <span class="mr-4 static-badge badge-pink"></span>
                        <form action="ingresar">
                            <div class="form-group">
                                <input type="text" class="form-control" id="usr" aria-describedby="emailHelp" name="usr" value="{{usu}}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Tweet</label>
                                <input type="text" class="form-control" id="exampleInputPassword1" name="txt" placeholder="Tweet">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>

                    <div class="input-group-icon input-group-icon-left input-group-lg mb-4">
                        <span class="input-icon input-icon-right"><i class="ti-search"></i></span>
                        <input id="search" class="form-control form-control-air font-light font-poppins border-0" type="text" placeholder="Buscar tweet ..." style="box-shadow:0 3px 6px rgba(10,16,20,.15);">
                    </div>

                    <div class="ibox">
                        <div class="ibox-body">
                            <div class="mb-4">
                                <h3 class="mt-1">{{total}} resultados para:
                                    <span class="text-primary">“{{q}}”</span>
                                </h3></div>
                            <ul class="list-group list-group-full list-group-divider">
                                {{#each tweets}}
                                <li class="list-group-item py-3">
                                    <a class="media-img" href="javascript:;">
                                        <img class="img-circle" src="img/users/u10.jpg" alt="image" width="54">
                                        {{this.alias_usuario}}
                                    </a>
                                    
                                    <p class="text-light">{{this.txt}}</p>
                                    <div class="text-muted font-13">
                                        <span class="badge badge-primary">{{this.categoria}}</span>
                                        <span class="mx-2">•</span>
                                        <spam >{{this.nombre}}</spam>
                                        <span>{{this.usr}}</span>
                                    </div>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
                


            </div>
            <!-- END PAGE CONTENT-->
            <footer class="page-footer">
                

                <div class="to-top"><i class="fa fa-angle-double-up"></i></div>
            </footer>
        </div>
    </div>

    <!-- CORE PLUGINS-->
    <script src="vendors/jquery/dist/jquery.min.js"></script>
    <script src="vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="vendors/metisMenu/dist/metisMenu.min.js"></script>
    <script src="vendors/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="vendors/jquery-validation/dist/jquery.validate.min.js"></script>
    <!-- PAGE LEVEL PLUGINS-->
    <script src="vendors/chart.js/dist/Chart.min.js"></script>
    <script src="vendors/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
    <!-- CORE SCRIPTS-->
    <script src="js/app.min.js"></script>
    <!-- PAGE LEVEL SCRIPTS-->
    <script src="js/scripts/dashboard_visitors.js"></script>
    
    <script>

        document.querySelector('#search').addEventListener('keypress', function (e) {
            var key = e.which || e.keyCode;
            if (key === 13) { // 13 is enter
                var term = document.getElementById('search').value;
                term = term.replace('#', '%23');
                window.location.href = '/tweets?q=' + term;
            }
        });

    </script>
</body>